<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.electronicapproval.employee.dao.EmployeeDAO">
	<select id="selectEmployeeList" resultType="com.electronicapproval.employee.model.Employee">
		SELECT
			`id`
			, `name`
			, `email`
			, `password`
			, `residentNumber`
			, `dateHired`
			, `totAnnualLeave`
			, `useAnnualLeave`
			, `remainAnnualLeave`
			, `groupId`
			, `positionId`
			, `officialId`
			, `annualIncome`
			, `salary`
			, `profilePath`
			, `authorityPost`
			, `authorityGroup`
			, `authorityEmployee`
			, `authorityCommute`
			, `authorityForm`
			, `createdAt`
			, `updatedAt`
		FROM
			`employee`
	</select>
	<select id="selectEmployeeByEmailAndPassword" parameterType="map" resultType="com.electronicapproval.employee.model.Employee">
		SELECT
			`id`
			, `name`
			, `email`
			, `password`
			, `residentNumber`
			, `dateHired`
			, `totAnnualLeave`
			, `useAnnualLeave`
			, `remainAnnualLeave`
			, `groupId`
			, `positionId`
			, `officialId`
			, `annualIncome`
			, `salary`
			, `profilePath`
			, `authorityPost`
			, `authorityGroup`
			, `authorityEmployee`
			, `authorityCommute`
			, `authorityForm`
			, `createdAt`
			, `updatedAt`
		FROM
			`employee`
		WHERE
			`email` = #{email}
			AND `password` = #{password}
	</select>
	<select id="selectEmployeeById" parameterType="int" resultType="com.electronicapproval.employee.model.Employee">
		SELECT
			`id`
			, `name`
			, `email`
			, `password`
			, `residentNumber`
			, `dateHired`
			, `totAnnualLeave`
			, `useAnnualLeave`
			, `remainAnnualLeave`
			, `groupId`
			, `positionId`
			, `officialId`
			, `annualIncome`
			, `salary`
			, `profilePath`
			, `authorityPost`
			, `authorityGroup`
			, `authorityEmployee`
			, `authorityCommute`
			, `authorityForm`
			, `createdAt`
			, `updatedAt`
		FROM
			`employee`
		WHERE
			`id` = #{id}
	</select>
	<insert id="insertEmployeeInsert" parameterType="com.electronicapproval.employee.model.Employee">
		INSERT INTO `employee`
		(
			`name`
			, `email`
			, `password`
			, `residentNumber`
			, `dateHired`
			, `totAnnualLeave`
<!-- 			, `useAnnualLeave` -->
			, `remainAnnualLeave`
			, `groupId`
			, `positionId`
			, `officialId`
			, `annualIncome`
			, `salary`
			, `profilePath`
			, `authorityPost`
			, `authorityGroup`
			, `authorityEmployee`
			, `authorityCommute`
			, `authorityForm`
			, `createdAt`
			, `updatedAt`
		)
		VALUES
		(
			#{name}
			, #{email}
			, #{password}
			, #{residentNumber}
			, #{dateHired}
			, #{totAnnualLeave}
<!-- 			, #{useAnnualLeave} -->
			, #{remainAnnualLeave}
			, #{groupId}
			, #{positionId}
			, #{officialId}
			, #{annualIncome}
			, #{salary}
			, #{profilePath}
			, #{authorityPost}
			, #{authorityGroup}
			, #{authorityEmployee}
			, #{authorityCommute}
			, #{authorityForm}
			, NOW()
			, NOW()
		)
	</insert>
	
	<update id="updateEmployeeByNoPassword" parameterType="com.electronicapproval.employee.model.Employee">
		UPDATE `employee`
		SET
			`name` = #{name}
			, `email` = #{email}
			, `residentNumber` = #{residentNumber}
			, `dateHired` = #{dateHired}
			, `totAnnualLeave` = #{totAnnualLeave}
			, `useAnnualLeave` = #{useAnnualLeave}
			, `remainAnnualLeave` = #{remainAnnualLeave}
			, `groupId` = #{groupId}
			, `positionId` = #{positionId}
			, `officialId` = #{officialId}
			, `annualIncome` = #{annualIncome}
			, `salary` = #{salary}
			, `profilePath` = #{profilePath}
			, `authorityPost` = #{authorityPost}
			, `authorityGroup` = #{authorityGroup}
			, `authorityEmployee` = #{authorityEmployee}
			, `authorityCommute` = #{authorityCommute}
			, `authorityForm` = #{authorityForm}
			, `updatedAt` = NOW()
		WHERE
			`id` = #{id}
	</update>
	
	<update id="updateEmployeeByPassword" parameterType="com.electronicapproval.employee.model.Employee">
		UPDATE `employee`
		SET
			`name` = #{name}
			, `email` = #{email}
			, `password` = #{password}
			, `residentNumber` = #{residentNumber}
			, `dateHired` = #{dateHired}
			, `totAnnualLeave` = #{totAnnualLeave}
			, `useAnnualLeave` = #{useAnnualLeave}
			, `remainAnnualLeave` = #{remainAnnualLeave}
			, `groupId` = #{groupId}
			, `positionId` = #{positionId}
			, `officialId` = #{officialId}
			, `annualIncome` = #{annualIncome}
			, `salary` = #{salary}
			, `profilePath` = #{profilePath}
			, `authorityPost` = #{authorityPost}
			, `authorityGroup` = #{authorityGroup}
			, `authorityEmployee` = #{authorityEmployee}
			, `authorityCommute` = #{authorityCommute}
			, `authorityForm` = #{authorityForm}
			, `updatedAt` = NOW()
		WHERE
			`id` = #{id}
	</update>
</mapper>