<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.electronicapproval.file.dao.FileDAO">
	<insert id="insertFiles" parameterType="map">
		INSERT INTO `file`
		(
			`postId`
			, `filePath`
		)
		VALUES
		(
			#{postId}
			, #{filePath}
		)
	</insert>
	
	<select id="selectFileListById" parameterType="int" resultType="com.electronicapproval.file.model.File">
		SELECT
			`id`
			, `postId`
			, `filePath`
		FROM
			`file`
		WHERE
			`postId` = #{postId}
	</select>
	
	<delete id="deleteFileById" parameterType="int">
		DELETE
		FROM
			`file`
		WHERE
			`postId` = #{postId}
	</delete>
</mapper>